<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" />
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/ordermethod.js}"></script>
</head>
<body>

	<div class="container">

		<div class="card">

			<div class="card-header text-center bg-primary">

				<h3>WELCOME TO ORDERMETHOD REGISTER PAGE</h3>

			</div>

			<div class="card-body">


				<form th:action="@{/orderMethod/save}" method="post"
					id="orderMethodForm" th:object="${orderMethod}">


					<div class="row">

						<div class="col-2">
							<label>ORDER MODE</label>

						</div>
						<div class="col-4">
							<input type="radio" th:field="*{orderMode}" value="SALE">SALE
							<input type="radio" th:field="*{orderMode}" value="PURCHASE">PURCHASE

						</div>
						<div class="col-6">
							<span id="orderModeError"></span>
						</div>

					</div>
					<div class="row">

						<div class="col-2">
							<label>CODE</label>

						</div>
						<div class="col-4">

							<input type="text" th:field="*{orderCode}" class="form-control">
						</div>
						<div class="col-6">
							<span id="orderCodeError"></span>
						</div>

					</div>
					<div class="row">

						<div class="col-2">
							<label>ORDER TYPE</label>

						</div>
						<div class="col-4">

							<select th:field="*{orderType}">

								<option value="">SELECT</option>
								<option value="FIFO">FIFO</option>
								<option value="LIFO">LIFO</option>
								<option value="FCFD">FCFD</option>
								<option value="FEFO">FEFO</option>

							</select>

						</div>
						<div class="col-6">
							<span id="orderTypeError"></span>
						</div>

					</div>

					<div class="row">

						<div class="col-2">
							<label>ORDER ACCEPT</label>

						</div>
						<div class="col-4">
							<input type="checkbox" th:field="*{orderAccept}"
								value="MULTI-MODEL">MULTI-MODEL <input type="checkbox"
								th:field="*{orderAccept}" value="ACCEPT-RETURN">ACCEPT-RETURN

						</div>
						<div class="col-6">
							<span id="orderAcptError"></span>
						</div>

					</div>


					<div class="row">

						<div class="col-2">
							<label>DESCRIPTION</label>

						</div>
						<div class="col-4">

							<textarea th:field="*{description}" class="form-control"></textarea>

						</div>
						<div class="col-6">
							<span id="descriptionError"></span>
						</div>

					</div>

					<input type="submit" value="Register Order" class="btn btn-success">

				</form>


			</div>
			<div class="card-footer">
				<a th:text="${message}"></a>

			</div>

		</div>

	</div>

	
</body>
</html>