<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" />

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/uom.js}"></script>
</head>

<body>

	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-center">
				<h3>WELCOME TO UOM REGISTER PAGE</h3>
			</div>
			<div class="card-body">
				<form id="uomForm" th:action="@{/uom/save}" method="post"
					th:object="${uom}">

					<div class="row">

						<div class="col-4">
							<label for="umoType">Uom Type</label>
						</div>
						<div class="col-4">
							<select th:field="*{umoType}" class="form-control">
								<option value="">SELECT</option>
								<option value="PACKING">PACKING</option>
								<option value="NO PACKING">NO PACKING</option>
							</select>
						</div>
						<div class="col-4">

							<span id="uomTypeError"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-4">
							<label for="uomModel">Uom Model</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{uomModel}" class="form-control">
						</div>
						<div class="col-2">
							<span id="uomModelError"></span>
						</div>
						<div class="row">
							<div class="col-4">
								<label for="description">Description</label>
							</div>
							<div class="col-6">
								<input type="text" th:field="*{description}"
									class="form-control">
							</div>
							<div class="col-4">
								<span id="descriptonError"></span>
							</div>
						</div>
					</div>




					<input type="submit" value="create Uom" class="btn btn-success">


				</form>

			</div>

		</div>

	</div>
	<div class="card-footer bg-primary text-white text-center">

		<b><a th:text="${message}"></a></b>

	</div>

     <script type="text/javascript">
     
     $(document).ready(function(){
    	 $("#uomModel").change(function(){
    		 
    		 $.ajax({
    			 
    			 url:'model',
    			 data:{"model":$("#uomModel").val()},
    			 success:function(msg){
    				 
    				 if(msg!=""){
    					 $("#uomModelError").show();
    					 $("#uomModelError").html(msg);
    					 $("#uomModelError").css("color","blue");
    					 $("#uomModel").val("");
    				 }
    				 else{
    					 $("#uomModelError").hide(); 
    				 }
    			 }
    		 })
    	 });
    	 
     });
     
     </script>

</body>
</html>