<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>WH USER TYPE EDIT PAGE!</h3>
			</div>
			<div class="card-body">

				<form id="whUserTypeForm" th:action="@{/whUserType/update}"
					method="POST" th:object="${whUserType}">
					<input type="hidden" th:field="*{id}">
					<!-- Row#1 -->
					<div class="row">
						<div class="col-2">
							<label>User Type</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{userType}" value="Vendor" /> Vendor
							<input type="radio" th:field="*{userType}" value="Customer" /> Customer
						</div>
						<div class="col-6">
							<span id="userTypeError"></span>
						</div>
					</div>
					
					
					<!-- Row#2 -->
					<div class="row">
						<div class="col-2">
							<label>User Code</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{userCode}" class="form-control"/>
						</div>
						<div class="col-6">
							<span id="userCodeError"></span>
						</div>
					</div>
					
					<!-- Row#3 -->
					<div class="row">
						<div class="col-2">
							<label>User For</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{userFor}" class="form-control" readonly/>
						</div>
					</div>
					
					
					<!-- Row#4 -->
					<div class="row">
						<div class="col-2">
							<label>User Mail</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{userMail}" class="form-control"/>
						</div>
						<div class="col-6">
							<span id="userMailError"></span>
						</div>
					</div>
					
					<!-- Row#5 -->
					<div class="row">
						<div class="col-2">
							<label>User Contact</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{userContact}" class="form-control"></textarea>
						</div>
						<div class="col-6">
							<span id="userContactError"></span>
						</div>
					</div>
					
					<!-- Row#6 -->
					<div class="row">
						<div class="col-2">
							<label>User Id Type</label>
						</div>
						<div class="col-4">
							<select th:field="*{userIdType}" class="form-control">
								<option value="">-SELECT-</option>
								<option value="PAN CARD">PAN CARD</option>
								<option value="AADHAR CARD">AADHAR CARD</option>
								<option value="VOTER ID CARD">VOTER ID CARD</option>
								<option value="OTHER">OTHER</option>
							</select>
						</div>
						<div class="col-6">
							<span id="userIdTypeError"></span>
						</div>
					</div>
					
					
					<!-- Row#7 -->
					<div class="row">
						<div class="col-2">
							<label>If Other</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{ifother}" class="form-control" readonly/>
						</div>
						<div class="col-6">
							<span id="ifotherError"></span>
						</div>
					</div>
					
					<!-- Row#8 -->
					<div class="row">
						<div class="col-2">
							<label>ID Number</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{idNumber}" class="form-control"/>
						</div>
						<div class="col-6">
							<span id="idNumberError"></span>
						</div>
					</div>
					
					<input type="submit" value="Update WhUserType" class="btn btn-success"/>

				</form>

			</div>
			<!-- card Body End -->


		</div>
	</div>
<script>
        $(document).ready(function () {
            //---extra validations work --//
            //--Auto Fill for User For---
            $('input[type="radio"][name="userType"]').change(function () {
                autoFillUserFor();
            });

            function autoFillUserFor() {
                var val = $('input[type="radio"][name="userType"]:checked').val();
                if (val == 'Vendor') {
                    $("#userFor").val('Purchase');
                } else if (val == 'Customer') {
                    $("#userFor").val('Sale');
                }
            }
            //ifOther Text Input
            $("#userIdType").change(function(){
                var val = $("#userIdType").val();
                if(val == 'OTHER'){
                    $("#ifother").removeAttr("readOnly");
                }else {
                    $("#ifother").attr("readOnly","true");
                    $("#ifother").val("");
                }
            });

        });
    </script>	
</body>
</html>