<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<H3>WELCOME TO WH USER TYPE DATA PAGE</H3>
			</div>
			<div class="card-body">
				<a th:href="@{/whUserType/excel}" class="btn btn-warning">EXCEL
					EXPORT</a>

				<table class="table table-hover ">
					<tr class="bg-info text-white text-center">
						<th>ID</th>
						<th>TYPE</th>
						<th>CODE</th>
						<th>USER FOR</th>
						<th>MAIL</th>
						<th>CONTACT</th>
						<th colspan="4">OPERATION</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.userType}"></td>
						<td th:text="${ob.userCode}"></td>
						<td th:text="${ob.userFor}"></td>
						<td th:text="${ob.userMail}"></td>
						<td th:text="${ob.userContact}"></td>
						<td><a th:href="@{/whUserType/delete/{id}(id=${ob.id})}">
								<img th:src="@{/images/delete.png}" class="btn btn-danger"
								width="60" height="40" />
						</a></td>
						<td><a th:href="@{/whUserType/eddit/{id}(id=${ob.id})}">
								<img th:src="@{/images/edit.png}" class="btn btn-success"
								width="60" height="40" />
						</a></td>
						<td><a th:href="@{/whUserType/view/{id}(id=${ob.id})}"
							class="btn btn-info">VIEW</a></td>
						<td><a th:href="@{/whUserType/excelone/{id}(id=${ob.id})}"
							class="btn btn-warning">EXCEL</a></td>
					</tr>
				</table>
			</div>

			<!-- This is card Footer -->
			<div th:if="${message!=null}">
				<div class="card-footer text-white bg-info">
					<b><span th:text="${message}"></span></b>
				</div>
			</div>
		</div>
		<!-- card end -->
	</div>
	<!-- container end -->
</body>
</html>